<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .rounded{
            border-radius: 50px;
        }
        .square{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        {{usuarios[1]}}
        <br>
        {{posts[0]}}
        <br><br>
        <table class="table stripped bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="usuario in usuarios" v-bind:id="usuario.idDos">
                    <td>{{usuario.idDos}}</td>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <ul>
                            <li>Ciudad: {{usuario.address.city}}</li>
                            <li>Calle: {{usuario.address.street}}</li>
                            <li>ZIP: {{usuario.address.zipcode}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h5 v-if="(numeroUno > numeroDos)">El numero {{numeroUno}} es mayor que {{numeroDos}} </h5>
        <h5 v-else-if="(numeroUno == numeroDos)">El numero {{numeroUno}} es igual que {{numerosDos}} </h5>
        <h5 v-else>El numero {{numeroUno}} es menor que {{numerosDos}}</h5>
        <br><br>
        <ul>
            <li v-for="post in postsPares"> {{post.id}} - {{post.title}} </li>
        </ul>
        <br><br><br>
        <!--v-on:click es igual a @click-->
        <button class="btn indigo darken-4" v-on:click="(contador++)">Haz click</button>
        {{contador}}
        <br>
        <!--v-on:click es igual a @click-->
        <button class="btn indigo darken-4" @mouseout="(estado = false)" @mouseover="(estado = true)">Coloca puntero sobre el</button>
        Estado mouse: {{estado}}
        <br>
        <select v-on:change="cambiarImagen($event)" class="browser-default">
            <option value="imagenes/css.jpg">CSS</option>
            <option value="imagenes/js.png">JS</option>
        </select>
        <img :src="imagen">
        <br><br><br>
        <!--v-if: v-show: si va a ser un elemento que solo se va a mostrar y ocultar una vez v-if si no v-show-->
        <a href="#!" v-if="esAdministrador">Administrador</a>
        <img src="imagenes/css.jpg" height="200" v-if="mostrarImagen">
        <img src="imagenes/js.png" height="200" v-show="mostrarImagen">
        <br><br>
        <!--v-bind: es igual a solo poner :-->
        <input type="text" :disabled="(usuariosDos == 5)">
        <br>
        <label >
            <input type="checkbox" :checked="chkChecked">
            <span></span>
        </label>
        <br><br><br>
        <form method="POST">
            <input type="text" :required="obligatorio">
            <button type="submit">Enviar</button>
        </form>
        <br><br>
        <select v-model="idFrutas" class="browser-default">
            <option v-for="fruta in frutas" v-bind:value="fruta.id">{{fruta.id}} - {{fruta.nombre}}</option>
        </select>
        <br>
        <select class="browser-default">
            <option v-for="fruta in frutas" v-bind:value="fruta.id" :selected="fruta.selected">{{fruta.id}} - {{fruta.nombre}}</option>
        </select>
        <br><br>
        <!--Activar una clase-->
        <div class="container" style="padding-top: 50px;">
            <!--<div class="teal" v-bind:class="{rounded,square}"></div> sin la clase-->
            <!--<div class="teal" v-bind:class="myClass"></div> con clase-->
            <!--<button @click="(rounded = !rounded)">Cambiar</button>-->
            <div v-bind:class="[ebableRoundedClass ? roundedClass: '',squareClass]"></div>
            <button @click="(ebableRoundedClass = !ebableRoundedClass)">Cambiar</button>
        </div>
        <br><br>
        <!--Activar style-->
        <div v-bind:style="[myStyle,myStyle2]">
            Hola mundo
        </div>
        <br><br>
        <div class="container" style="padding-top: 50px;">
            <input type="text" v-model="n1">
            <input type="text" v-model="n2">
            <h5>La suma es {{resultado}}</h5>
        </div>
        <br><br>
        <label >Escriba una fruta</label>
        <input type="text" v-model="frutaDos">
        <button type="button" @click="agregarFruta">Agregar fruta</button>
        <label >Ha agregado un total de {{totalFrutasDos}} frutas</label>
        <ul>
            <li v-for="fruta in frutaDosArreglo">{{fruta}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        //data, methods, props, mounted, created, computed, watch, destroyed
        const holaMundo={
            //Son como un objeto en javaScript
            data(){
                return{
                    usuarios:[],
                    posts:[],
                    postsPares:[],
                    numeroUno: 6,
                    numeroDos: 6,
                    contador:0,
                    estado:false,
                    imagen:'',
                    mostrarImagen:false,
                    esAdministrador:false,
                    usuariosDos:5,
                    chkChecked:false,
                    obligatorio:false,
                    frutas:[
                        {
                            id:1,
                            nombre: 'manzana',
                            selected:true
                        },
                        {
                            id:2,
                            nombre: "Pera",
                            selected:false
                        },
                        {
                            id:3,
                            nombre: "Sandia",
                            selected:false
                        }
                    ],
                    idFrutas:2,
                    myClass:{
                        rounded:false,
                        square:true
                    },
                    roundedClass: 'rounded red btn',
                    squareClass: 'square',
                    ebableRoundedClass: true,
                    myStyle:{
                        'font-size':'16px',
                        height:'50px',
                        width:'50px',
                        backgroundColor:'green'
                    },
                    myStyle2:{
                        'border':'dashed 1px black'
                    },
                    n1:0,
                    n2:0,
                    frutaDos:'',
                    frutaDosArreglo:[]

                    
                }
            },
            //los computed son campos calculados donde se encuentran operaciones no tan pesadas se mandan llamar normal sin necesidad de crearla en la data
            computed:{
                resultado: function(){
                    return parseFloat(this.n1)+parseFloat(this.n2);
                },
                totalFrutasDos:function(){
                    return this.frutaDosArreglo.length;
                }
            },
            
            methods:{
                agregarFruta(){
                    this.frutaDosArreglo.push(this.frutaDos);
                    this.frutaDos='';
                },
                getUsuarios(){
                    //Hace peticiones desde data
                    fetch('https://jsonplaceholder.typicode.com/users')
                    .then(response => response.json())
                    .then(data=>{
                        this.usuarios=data;
                    })
                },
                getPosts(){
                    //Hace peticiones desde data
                    fetch('https://jsonplaceholder.typicode.com/posts')
                    .then(response => response.json())
                    .then(data => {
                        this.posts = data;
                        //x =>(x.id % 2 == 0 da numeros pares, x =>(x.id % 2 != 0 da numeros impares
                        this.postsPares = data.filter(x =>(x.id % 2 == 0));//filter filtra lo que se desea buscar de una api creando una variable x que ayuda a buscar los apartados de ella

                    })
                },
                cambiarImagen(event){
                    this.imagen = event.target.value;
                }
            },
            mounted(){
                this.getUsuarios();
                this.getPosts();
            },
        }
        //Desde la consola de inspeccionador se llama esta variables y se puede 
        //cambiar lo que se desee dentro de la data ejemplo: mountedApp.nombre = "Nombre nuevo"
        var mountedApp = Vue.createApp(holaMundo).mount('#app');
    </script>
</body>
</html>l